@import "_left-side/_left-side.sass"
@import "_right-side/_right-side.sass"
    
.modalWindow
    display: flex
    position: absolute
    width: 619px
    height: 425px
    position: absolute
    top: 0
    bottom: 0
    right: 0
    left: 0
    margin: auto
    background: white
    z-index: 1
    border: 1px solid black

.modalWindow img 
    width: 331px
    height: 205px
    z-index: 1.5

