@import "_image/_image.sass"
@import "_loader/_loader.sass"

.images 
    width: 100%
    margin: 0 auto
    margin-bottom: 347px

ul
    display: flex
    position: relative
    flex-direction: row
    justify-content: center
    padding: 0px
    flex-wrap: wrap